Internship Day 1

In [ ]:
print("Hello, Jishnu!")

Hello, Jishnu!

In [ ]:
#This is a Jupyter Notebook
x=104
x="JSK"
print(x)

JSK

In [ ]:
y=3.7
print(int(y)) #Type Casting of variable y (from float value to integer value)
print(type(y)) #Type function is used to check the datatype of the variable

3
<class 'float'>

In [ ]:
z,Z=37,"Colab by Google" #Multiple Assignment and to demostrate case sensitivity of variables
print("",z,"\n",Z)

 37
 Colab by Google

In [ ]:
x=y=1; print(x,y)

1 1

In [ ]:
a=10j; print(type(a),"Imaginary Number:",a)
print(type(2e10))

<class 'complex'> Imaginary Number: 10j
<class 'float'>

In [ ]:
x=1
y=2.8
x,y=float(x),int(y)
print(x,y)

1.0 2

In [ ]:
print('Hello,"Anton"') #This is quotes in quotes concept, it either has double-single or vice versa but not same quotes

Hello,"Anton"

In [ ]:
#Slicing
b="Jishnu"; print(b[1:3]); h="Hello, World!"; print(h[:5]); print(h[7:]); print(h[14:])

is
Hello
World!

In [ ]:
a="Python".upper()
print(a[-4:-1])

THO

In [ ]:
print(" Hello, Adan! ".strip().replace("d","m").upper())
a="Hello"
b=" World"
print(a+b)

HELLO, AMAN!
Hello World

In [ ]:
def i():
  z=int(input("Enter 1st number:"))
  x=int(input("Enter 1st number:"))
  if (z>x):
    print(z,"is greater than",x)
  elif (z==x):
    print(z,"is equal to",x)
  else:
    print(z,"is less than",x)
i()

Enter 1st number:37
Enter 1st number:104
37 is less than 104

In [ ]:
i()

Enter 1st number:123
Enter 1st number:1000
123 is less than 1000

In [ ]:
def aop():
  a=int(input("Enter 1st number:"))
  b=int(input("Enter 2nd number:"))
  print("Addition:",a+b,"\nDifference:",a-b,"\nProduct:",a*b,"\nDivision:",a/b,"\nFloor Division:",a//b,"\nMod:",a%b)
aop()

Enter 1st number:2
Enter 2nd number:3
Addition: 5
Difference: -1
Product: 6
Division: 0.6666666666666666
Floor Division: 0
Mod: 2

In [ ]:
#Logical operator programs
a=10
print(a<5 and a>9) #F and T is F
print(a<5 or a>9) #F or T is T
print(not(a<12)) #not(T) is F

False
True
False

Loops:

 There are two types of loops in Python
*   while loop
*   for loop

In [ ]:
#Multiple of three program using while loop
i=1
while (i<11):
  print(3,"*",i,"=",3*i)
  i+=1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
i=1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1
  #3 is also displayed coz print statement is before condition statement

1
2
3

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i=1
while i < 6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

for loop:

Syntax:

```
for i in range(start,stop,step):
   statements
   ..........

```

Accessing and Displaying Elements of a List:

Example:

```
l=[1,2,3]
for i in l: #Accessing the list
  print(i)  #Displaying elements of the list
```

In [ ]:
f=['A','B','C']
for i in f:
  if i == 'B':
    continue
  print(i)

A
C

In [ ]:
for i in range(1,30,3):
  print(i)

1
4
7
10
13
16
19
22
25
28

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally Finished Execution")

0
1
2
3
4
5
Finally Finished Execution

Nested Loop:


```
for i in condition:
  for j in condition:
    statements
    .........
    
```

In [ ]:
adj=["red","big","small"]
f=["orange","mango","apple"]
for i in adj:
  for j in f:
    print(i,j)

red orange
red mango
red apple
big orange
big mango
big apple
small orange
small mango
small apple

In [ ]:
l=[1,2,1,3] #ordered
s={1,2,1,3} #unordered
for i in l:
  print(i)
print("\n")
for j in s:
  print(j,"\t")

1
2
1
3


1
2
3

In [ ]:
t=(1,2)
l=list(t)
l.append(3)
print(l)

[1, 2, 3]

len():

Syntax:


```
len(variable)
```

In [ ]:
l=[1,2,3,'J',10j]
print(len(l),"\n",type(l))

5
 <class 'list'>

List Constructor: (list())

Syntax:


```
list(variable or values)
```

In [ ]:
l=list((1,2,3))
print(l)

[1, 2, 3]

In [ ]:
t=(1,2)
l=list(t)
l.append(3)
print(l)
print(type(l))
print(l[1])

[1, 2, 3]
<class 'list'>
2

In [ ]:
l=['apple','banana','cherry']
print(l[-1])

cherry

In [ ]:
l=['apple','banana','cherry',"mango","kiwi","water melon"]
print(l[:3])
print(l[-3:])

['apple', 'banana', 'cherry']
['mango', 'kiwi', 'water melon']

Membership Operator:

'in' and 'not in' are membership operators

Example:


```
l=[1,2,6]
for i in l:
  if i in [3,4,5,6,7,8,9]:
    print("Bonus Number Found!")
  else:
    continue
```

In [ ]:
l=[1,2,6,10,8,9,37]
for i in l:
  if i in [3,4,5,6,7,8,9]:
    print("Bonus Number Found!")
  elif i in [37,104]:
    print("Jackpot")
  else:
    continue

Bonus Number Found!
Bonus Number Found!
Bonus Number Found!
Jackpot

In [ ]:
l=['apple','banana','cherry']
l.append("mango")
print(l)
l.extend(["kiwi","peach"])
print(l)
l[1:3]=["black berry","strawberry"]
print(l)

['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'peach']
['apple', 'black berry', 'strawberry', 'mango', 'kiwi', 'peach']

In [ ]:
l=['apple', 'black berry', 'strawberry', 'mango', 'kiwi', 'peach']
l[1:2]=[1,2]
l[3:4]=['a','b','c','d']
print(l)
w=['apple','mango','cherry']
w[1:3]=["orange"]
print(w)

['apple', 1, 2, 'a', 'b', 'c', 'd', 'mango', 'kiwi', 'peach']
['apple', 'orange']

<u>append():</u>

Syntax:


```
l=[val1,val2]
l.append(val3)
```

<u>extend():</u>

Syntax:


```
l=[val1,val2]
l.extend([val3,val4,....])
```
<u>insert():</u>

Syntax:


```
l=[val1,val2,val3]
l.insert(index,val4)
```

In [ ]:
l=[1,2,3]
m=['a','b']
l.extend(m)
print(l)
n=[100,200,300]
l.insert(3,n)
print(l)
m.extend(n)
print(m)

[1, 2, 3, 'a', 'b']
[1, 2, 3, [100, 200, 300], 'a', 'b']
['a', 'b', 100, 200, 300]

<u>**remove():**

Syntax:</u>


```
l=[val1,val2,val3]
l.remove(val2)
#Output will be -> [val1,val3]
```

In [ ]:
l=[1,2,3]
l.remove(2)
print(l)
l.pop()
print(l)

m=[1,2,3,4,5,6,7,8,9]
del m[2:4]
print(m)
m.pop(0)
print(m)
m.clear()
print(m)

z=['a','b','c']
z.remove('b')
print(z)

[1, 3]
[1]
[1, 2, 5, 6, 7, 8, 9]
[2, 5, 6, 7, 8, 9]
[]
['a', 'c']

In [ ]:
l=[1,2,3]
for i in l:
  print(i)

1
2
3

In [ ]:
l=[1,2,3]
for i in range(len(l)):
  print(l[i])
print("\n")
m=['a','b','c']
i=0
while i < len(m):
  print(m[i])
  i+=1

1
2
3


a
b
c

<u>List Comprehension:

Syntax:</u>


```
list=[expression for item in iterable if condition == True]
```

In [ ]:
l=[print(i) for i in range(5)]

0
1
2
3
4

In [ ]:
l=['a','b','c']
a=[i+'a' for i in l]
print(a)

print("\n")

m=[1,2,3,4,5,6]
x=[print(j) for j in m if j%2==0]

['aa', 'ba', 'ca']


2
4
6

**DAY 2** (3 June 2025)

<U>SORTING OF A LIST</U>:

Syntax:


```
l=[val1,val2,val3,valn]
l.sort() #Ascending
l.sort(reverse=True) #Descending
```

In [ ]:
l=['a','j','b','z','c']
l.sort()
print(l)

l.sort(reverse=True)
print(l)

['a', 'b', 'c', 'j', 'z']
['z', 'j', 'c', 'b', 'a']

<u>Copying elements of a list:</u>

<u>copy():</u>

Syntax:


```
l1=[val1,val2,....,valn]
l2=l1.copy()
```
<u>list():</u>

Syntax:


```
l1=[val1,val2,....,valn]
l2=list(l1)
```
<u>Slicing:</u>


```
l1=[val1,val2,....,valn]
l2=l1[:]
```

In [ ]:
l=[1,2,3,4,5,6]
m=l[:]
print(m)

[1, 2, 3, 4, 5, 6]

<u>JOINING LISTS</u>

Syntax:(Using '+')


```
l=[1,2,3,4,5,6]
m=['a','b','c']
n=l+m #Joining two lists
print(n)
```

Syntax: (By using loop and append())


```
l=[1,2,3,4,5,6]
m=['a','b','c']
for i in l:
  m.append(i)
print(m)
```
Syntax: extend()


```
l=[1,2,3,4,5,6]
m=['a','b','c']
l.extend(m)
print(l)
```

In [ ]:
l=[1,2,3,4,5,6]
m=['a','b','c']
n=l+m #Joining two lists
print(n)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

In [ ]:
l=[1,2,3,4,5,6]
m=['a','b','c']
for i in l:
  m.append(i)
print(m)

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

In [ ]:
l=[1,2,3,4,5,6]
m=['a','b','c']
for i in l:
  m.append(i)
  print(m) #Displays entire joining process

['a', 'b', 'c', 1]
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 4]
['a', 'b', 'c', 1, 2, 3, 4, 5]
['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

In [ ]:
l=[1,2,3,4,5,6]
m=['a','b','c']
l.extend(m)
print(l)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

<U>TUPLE</U>

In [ ]:
t = ("apple", "banana", "cherry")
print(t)

m=(1,)
print(m)

n=(1) #It is treated as an integer
print(n)

print(len(t))
print(type(t))

('apple', 'banana', 'cherry')
(1,)
1
3
<class 'tuple'>

Tuple Constructor: (tuple())

Syntax:


```
tuple(variables/list of elements)
```

In [ ]:
l=[1,2,3]
print(type(l))
x=tuple(l)
print(type(x))

print(x[1])

<class 'list'>
<class 'tuple'>
2

In [ ]:
t=(1,2,'a',True,37j,104)
print(t[-1])
print(t[2:5])
print(t[:3])
print(t[3:])
print(t[-3:-1])

104
('a', True, 37j)
(1, 2, 'a')
(True, 37j, 104)
(True, 37j)

In [ ]:
t=(1,2,'a',True,37j,104)
if 'a' in t:
  print('FOUND THE ELEMENT!')

FOUND THE ELEMENT!

<u>**UPDATING A TUPLE**</u>

SYNTAX:


```
t=(1,2,3)
m=list(t) #Converting to list
m[1]=4
t=tuple(m) #Updating the existing tuple
```

In [ ]:
t=(1,2,3)
m=list(t)
m[1]=4
t=tuple(m)
print(t)
print(type(t))

(1, 4, 3)
<class 'tuple'>

In [ ]:
t=(1,2,3)
m=list(t)
m.append(4)
m.extend([5,6,7])
t=tuple(m)
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
t=(1,2,3)
m=list(t)
m.remove(2)
t=tuple(m)
print(t)

(1, 3)

In [ ]:
t=(1,2,3)
del t
print(t) #This will raise an error coz the tuple is empty

In [ ]:
t=(1,2,3)
for i in t:
  print(i)

1
2
3

In [50]:
t=(1,2,3)
for i in range(len(t)):
  print(t[i])

1
2
3

In [53]:
t=(1,2,3)
i=0
while i < (len(t)):
  print(t[i])
  i+=1

1
2
3

In [55]:
#Joining two tuples
t=(1,2,3)
m=('a','b','c')
n=t+m
print(n)

(1, 2, 3, 'a', 'b', 'c')

In [57]:
m=('a','b','c')
n=m*3
print(n)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

<U>**SET**</U>

SYNTAX:

```
s={val1,val2,....}
```



*   It is unordered and unchangable. It ignores duplicate values when displayed
*   <u>**True**</u> is considered as 1 so, if there is 1 in the set then, that 1 (ie, True coz 1 is repeated innit) is not displayed in the output and it is the same for <u>**False**</u> as well which is 0.

In [58]:
s={1,1,1,1,1,2,2,2,2,3,4,4,4,5}
print(s)

{1, 2, 3, 4, 5}

In [60]:
s={1,True}
print(s)

{1}

In [61]:
s={1,2,3}
l=len(s)
t=type(s)
print(l)
print(t)

3
<class 'set'>

SET CONSTRUCTOR

In [62]:
s=set(('a','b','a','c'))
print(s)

{'a', 'c', 'b'}

ACCESSING VALUES OF A SET

In [64]:
s={1,2,3,1,1,1,2,2,5,6,7}
for i in s:
  print(i)

1
2
3
5
6
7

In [68]:
s={'banana','orange','mango'}
print("banana" in s)
print("mango" not in s)

True
False

<U>ADDING ELEMENT/S TO THE SET</U>:

In [70]:
S={1,2,3}
S.add(7)
print(S)

{1, 2, 3, 7}

In [71]:
s={1,2,3}
t={4,5,6}
s.update(t)
print(s)

{1, 2, 3, 4, 5, 6}

In [73]:
s={1,2,3}
t=[4,5,6] #List
s.update(t)
print(s)

{1, 2, 3, 4, 5, 6}

<u>REMOVING/DELETION ELEMENTS FROM A SET:</u>


*   remove()
*   discard()
*   pop()
*   clear()
*   del set

If the the element to be deleted is not found, then it would be best to use 'discard()' as it shows no error, but 'remove()' will arise an error.

In [74]:
s={1,2,3,4,5,6,7}
s.discard(2)
print(s)
s.remove(4)
print(s)
s.discard(9)
print(s)
#s.remove(9) will arise an error when executed

{1, 3, 4, 5, 6, 7}
{1, 3, 5, 6, 7}
{1, 3, 5, 6, 7}

In [77]:
s={'apple','banana','cherry'}
x=s.pop()
print(x)
print(s)

apple
{'banana', 'cherry'}

In [79]:
s={1,2,3}
s.clear()
print(s)

set()

In [80]:
s={1,2,3}
del s
print(s)

NameError: name 's' is not defined

In [81]:
s={1,2,3}
for i in s:
  print(i)

1
2
3

<U>JOIN SETS</U>


*   The union() and update() methods joins all items from both sets.
*   The intersection() method keeps ONLY the duplicates.
*   The difference() method keeps the items from the first set that are not in the other set(s).
*   The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [83]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3=set1.union(set2)
print(set3)

{'apple', 'banana', 'google', 'microsoft', 'cherry'}

In [82]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [84]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3=set1|set2
print(set3)

{'apple', 'banana', 'google', 'microsoft', 'cherry'}

In [2]:
set1={'apple','banana','cherry'}
set2={'google','IBM','DELL','apple'}

set3=set1.intersection(set2)
print(set3)

{'apple'}

In [4]:
set1={'apple','banana','cherry'}
set2={'google','IBM','DELL','apple'}
set3=set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [5]:
set1={'apple','banana','cherry'}
set2={'google','IBM','DELL','apple'}
set3=set1-set2
print(set3)

{'cherry', 'banana'}

In [7]:
set1={'apple','banana','cherry'}
set2={'google','IBM','DELL','apple'}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [8]:
set1={'apple','banana','cherry'}
set2={'google','IBM','DELL','apple'}
set3=set1.symmetric_difference(set2)
print(set3)

{'IBM', 'banana', 'google', 'cherry', 'DELL'}

In [9]:
set1={'apple','banana','cherry'}
set2={'google','IBM','DELL','apple'}
set1.symmetric_difference_update(set2)
print(set1)

{'IBM', 'banana', 'google', 'cherry', 'DELL'}

In [10]:
set1={'apple','banana','cherry'}
set2={'google','IBM','DELL','apple'}
set3=set1^set2
print(set3)

{'IBM', 'banana', 'google', 'cherry', 'DELL'}

<u>**DICTIONARY**</U>

```
dict={key:value}
```

In [11]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [13]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford